attr==0.3.2
Brotli==1.0.9
brotlicffi==1.1.0.0
chardet==4.0.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==46.0.1
Cython==3.1.4
dl==0.1.0
docutils==0.22.2
filelock==3.19.1
gensim==4.3.3
h2==4.3.0
HTMLParser==0.0.2
importlib_resources==6.5.2
ini2toml==0.15
ipython==8.30.0
ipywidgets==8.1.5
jnius==1.1.0
js==1.0
keyring==25.6.0
mod==0.3.0
nltk==3.9.1
path.py==12.5.0
pkg1==0.0.3
protobuf==6.32.1
pyodide==0.0.2
pyOpenSSL==25.0.0
pyOpenSSL==25.3.0
pytest==8.3.4
PyYAML==6.0.2
PyYAML==6.0.3
redis==6.4.0
scikit_learn==1.7.2
simplejson==3.20.2
Sphinx==8.2.3
thread==2.0.5
torch==2.8.0
tqdm==4.67.1
trove_classifiers==2025.9.11.17
urllib3_secure_extra==0.1.0
uv==0.8.22
xmlrpclib==1.0.1
xx==3.3.2
zstandard==0.23.0
